In [14]:
import openpyxl

def create_dataframe_dict_from_excel(file_path):
    try:
        workbook = openpyxl.load_workbook(file_path)
        sheet_names = workbook.sheetnames
        df_dict = {}

        for sheet_name in sheet_names:
            sheet = workbook[sheet_name]
            data = []
            for row in sheet.iter_rows(values_only=True):
                data.append(row)
            
            columns = data[0]
            rows = data[1:]
            df = pd.DataFrame(rows, columns=columns)
            df_dict[sheet_name] = df
        
        return df_dict
    except Exception as e:
        print(f"Error occurred: {e}")
        return None

file_path = 'data_files/Days.xlsx'
dataframes_dict = create_dataframe_dict_from_excel(file_path)

In [20]:
dataframes_dict['copy']

,DATE,DEND,DSTART,REGIME,SLEEP,Visalization,MEDITAITON,BREATH,CTRAINING,MORNING,...,PYTHON,IQ,PROF,PRIOR,PLANS,ROUTINE,MEETS,DIFFICULT,PAID_WORK,DAY
0,2023-01-01,03:30,10:30,0.0,7.0,1,15,13,0,1,...,8,0,8,0,484,37,126,0,0,10
1,2023-01-02,01:00,06:00,0.5,5.0,1,45,15,0,1,...,67,90,28,47,27,43,215,20,0,10
2,2023-01-03,23:15,06:00,1.0,6.8,1,7,8,0,1,...,18,0,38,51,67,93,429,55,346,10
3,2023-01-04,02:20,08:30,0.0,6.2,1,10,8,0,1,...,8,0,30,123,47,63,534,11,480,10
4,2023-01-05,23:15,08:15,0.5,9.0,1,15,8,0,1,...,24,0,3,103,26,81,139,84,247,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,2023-07-26,23:15,08:35,0.5,9.3,1,0,10,0,1,...,395,0,9,420,18,40,77,30,446,10
207,2023-07-27,00:35,06:55,0.5,6.3,0,0,10,0,1,...,75,0,27,467,6,75,24,14,469,10
208,2023-07-28,01:45,07:55,0.0,6.2,1,0,10,0,1,...,166,0,48,173,37,92,307,121,521,10
209,2023-07-29,00:20,10:30,0.0,10.2,1,0,10,0,1,...,35,0,21,37,42,108,273,0,21,10
210,2023-07-30,01:32,08:30,0.0,7.0,1,10,10,0,1,...,65,0,42,33,40,49,7,0,42,10