In [121]:
"""
Diary Year xlsx file preparation - Days diary
Columns: TYPE, DATE, EVENT, POINTS, M, HY, Y, S, SPHERE
Types of rows: "D", "E", "N" for each DATE in an Year, "W", "WE" x 3, "WN" for each WEEK
               "ME" x 5, "NM" x 5, "M" for each MONTH
               "SE" x 5, "S" for each SEASON
               "HYE" x 7, "NHY", "HY" for each HALF-YEAR
               "YE" x 10, "Y" at the end of YEAR
               
This year naming: "D" from 01/01/2023, "W" from "Неделя 1932" started 02/01/2023, 
                  "S" from "38 зима", "M" from "38 январь (445)"
                  "HY" from "38 полулетие 1", "Y": "38 летие"

"""

import pandas as pd
import numpy as np
import datetime

In [122]:
# diary dataframe
days_df = pd.DataFrame(columns = ['TYPE', 'DATE', 'EVENT', 'POINTS', 'M', 'HY', 'Y', 'S', 'SPHERE' ])
weeks_df = pd.DataFrame(columns = ['TYPE', 'DATE', 'EVENT', 'POINTS', 'M', 'HY', 'Y', 'S', 'SPHERE' ])
months_df = pd.DataFrame(columns = ['TYPE', 'DATE', 'EVENT', 'POINTS', 'M', 'HY', 'Y', 'S', 'SPHERE' ])
seasons_df = pd.DataFrame(columns = ['TYPE', 'DATE', 'EVENT', 'POINTS', 'M', 'HY', 'Y', 'S', 'SPHERE' ])
half_year_df = pd.DataFrame(columns = ['TYPE', 'DATE', 'EVENT', 'POINTS', 'M', 'HY', 'Y', 'S', 'SPHERE' ])
year_df = pd.DataFrame(columns = ['TYPE', 'DATE', 'EVENT', 'POINTS', 'M', 'HY', 'Y', 'S', 'SPHERE' ])

# my year number
my_year_n = 38


# days
days_n = pd.Series(pd.date_range("1/1/2023", freq="D", periods=365))

# naming for weeks
weeks_n_start = 1932
weeks_n = [w for w in range(weeks_n_start,weeks_n_start+52)]
last_week_date = pd.Series(pd.date_range("1/1/2023", freq="W", periods=53))

# naming for months
months_n_start = 445
months_n = [m for m in range(months_n_start,months_n_start+12)] #numbers of Months from 445 for January -> 456 for December
months = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь']
last_month_date = pd.Series(pd.date_range("1/1/2023", freq="M", periods=12))

# naming for seasons
season = ['зима', 'весна', 'лето', 'осень']
last_season_date = pd.Series(['2023-02-28','2023-05-31','2023-08-31','2023-11-30'])

# naming for half-year
half_year = [' полулетие 1', ' полулетие 2']
last_half_year_date = pd.Series(['2023-06-30','2023-12-31'])

# naming for year
year = [' летие']

In [138]:
for d in range(0, len(days_n) * 3, 3):
    days_df.loc[d, 'TYPE'] = 'D'
    days_df.loc[d, 'DATE'] = days_n[d/3]
    days_df.loc[d, 'EVENT'] = "День "
    days_df.loc[d + 1, 'TYPE'] = 'E'
    days_df.loc[d + 1, 'DATE'] = days_n[d/3]
    days_df.loc[d + 1, 'EVENT'] = ""
    days_df.loc[d + 2, 'TYPE'] = 'N'
    days_df.loc[d + 2, 'DATE'] = days_n[d/3]
    days_df.loc[d + 2, 'EVENT'] = "Ночь "
    

for w in range(0, len(weeks_n)*5, 5):
    weeks_df.loc[w, 'TYPE'] = 'W'
    weeks_df.loc[w, 'DATE'] = 'Неделя ' + str(weeks_n[w/5])
    weeks_df.loc[w, 'EVENT'] = "Неделя "
    weeks_df.loc[w, 'TYPE'] = 'W'
    weeks_df.loc[w, 'DATE'] = 'Неделя ' + str(weeks_n[w])
    weeks_df.loc[w, 'EVENT'] = "Неделя "
    weeks_df.loc[w, 'TYPE'] = 'W'
    weeks_df.loc[w, 'DATE'] = 'Неделя ' + str(weeks_n[w])
    weeks_df.loc[w, 'EVENT'] = "Неделя "
    weeks_df.loc[w, 'TYPE'] = 'W'
    weeks_df.loc[w, 'DATE'] = 'Неделя ' + str(weeks_n[w])
    weeks_df.loc[w, 'EVENT'] = "Неделя "
    weeks_df.loc[w, 'TYPE'] = 'W'
    weeks_df.loc[w, 'DATE'] = 'Неделя ' + str(weeks_n[w])
    weeks_df.loc[w, 'EVENT'] = "Неделя "
    
for m in range(len(months_n)):
    months_df.loc[m, 'TYPE'] = 'M'
    months_df.loc[m, 'DATE'] = '38 ' + months[m] + ' (' + str(months_n[m]) + ')'
    months_df.loc[m, 'EVENT'] = "Месяц "
    
for s in range(len(season)):
    seasons_df.loc[s, 'TYPE'] = 'S'
    seasons_df.loc[s, 'DATE'] = '38 ' + season[s]
    seasons_df.loc[s, 'EVENT'] = "Сезон "
    
for hy in range(len(half_year)):
    half_year_df.loc[hy, 'TYPE'] = 'M'
    half_year_df.loc[hy, 'DATE'] = '38' + half_year[hy]
    half_year_df.loc[hy, 'EVENT'] = "Полулетие "
    
for y in range(len(year)):
    year_df.loc[y, 'TYPE'] = 'Y'
    year_df.loc[y, 'DATE'] = '38' + year[y]
    year_df.loc[y, 'EVENT'] = "Летие "

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399
402
405
408
411
414
417
420
423
426
429
432
435
438
441
444
447
450
453
456
459
462
465
468
471
474
477
480
483
486
489
492
495
498
501
504
507
510
513
516
519
522
525
528
531
534
537
540
543
546
549
552
555
558
561
564
567
570
573
576
579
582
585
588
591
594
597
600
603
606
609
612
615
618
621
624
627
630
633
636
639
642
645
648
651
654
657
660
663
666
669
672
675
678
681
684
687
690
693
696
699
702
705
708
711
714
717
720
723
726
729
732
735
738
741
744
747
750
753
756
759
762
765
768
771
774
777
780
783
786
789
792
795
798
801
804
807
810
813
816
819
822
825
828
831
834
837
840
843
846
849
852
855
858
861
864
867
870
873
876
879
882
885
888
891
894
897
900
903
906
909
912
915
918
921
924
927
930
933
936
939
942
945
948
951
954
957
960
963
966
969
972
975
978
981
984
987
990
993
996
999
1002
1005
1008
1011
1014
1017
1020
1023
1026
1029
1032
1035
1038
1041
1044
1047
1050
1053
1056
1059
1062
1065
1068
1071
1074
1077
1080
1083
1086
1089
1092

In [124]:
week_indexes = []
for i in range(len(last_week_date)):
    week_indexes.append(days_df.index[days_df['DATE'] == last_week_date[i]].to_list()[0])
    
list_of_dfs = []
for i in range(len(week_indexes) - 1):
    temp_df = days_df.iloc[week_indexes[i] + 1: (week_indexes[i + 1] + 1)]
    temp_df.reset_index(drop=True, inplace=True)
    list_of_dfs.append(temp_df)

In [125]:
list_of_dfs

[  TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-01-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-01-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-01-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-01-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-01-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-01-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-01-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-01-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-01-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-01-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-01-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-01-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-01-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-01-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-01-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-01-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-01-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-01-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-01-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-01-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-01-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-01-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-01-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-01-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-01-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-01-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-01-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-01-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-01-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-01-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-02-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-02-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-02-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-02-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-02-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-02-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-02-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-02-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-02-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-02-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-02-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-02-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-02-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-02-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-02-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-02-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-02-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-02-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-02-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-02-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-02-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-02-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-02-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-02-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-02-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-02-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-02-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-02-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-03-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-03-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-03-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-03-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-03-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-03-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-03-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-03-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-03-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-03-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-03-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-03-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-03-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-03-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-03-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-03-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-03-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-03-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-03-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-03-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-03-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-03-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-03-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-03-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-03-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-03-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-03-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-03-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-03-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-03-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-03-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-04-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-04-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-04-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-04-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-04-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-04-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-04-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-04-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-04-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-04-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-04-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-04-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-04-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-04-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-04-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-04-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-04-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-04-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-04-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-04-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-04-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-04-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-04-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-04-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-04-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-04-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-04-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-04-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-04-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-04-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-05-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-05-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-05-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-05-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-05-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-05-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-05-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-05-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-05-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-05-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-05-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-05-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-05-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-05-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-05-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-05-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-05-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-05-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-05-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-05-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-05-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-05-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-05-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-05-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-05-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-05-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-05-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-05-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-05-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-05-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-05-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-06-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-06-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-06-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-06-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-06-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-06-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-06-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-06-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-06-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-06-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-06-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-06-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-06-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-06-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-06-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-06-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-06-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-06-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-06-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-06-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-06-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-06-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-06-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-06-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-06-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-06-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-06-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-06-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-06-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-06-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-07-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-07-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-07-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-07-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-07-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-07-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-07-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-07-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-07-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-07-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-07-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-07-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-07-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-07-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-07-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-07-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-07-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-07-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-07-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-07-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-07-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-07-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-07-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-07-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-07-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-07-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-07-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-07-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-07-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-07-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-07-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-08-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-08-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-08-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-08-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-08-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-08-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-08-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-08-08 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-08-09 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-08-10 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-08-11 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-08-12 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-08-13 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-08-14 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-08-15 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-08-16 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-08-17 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-08-18 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-08-19 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-08-20 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-08-21 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-08-22 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-08-23 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-08-24 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-08-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-08-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-08-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-08-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-08-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-08-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-08-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 4    D  2023-09-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 5    D  2023-09-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 6    D  2023-09-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN,
   TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
 0    D  2023-09-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 1    D  2023-09-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 2    D  2023-09-06 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
 3    D  2023-09-07 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN

In [105]:
months_indexes = []
for df in list_of_dfs:

In [107]:
df_list[51]

    TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
358    D  2023-12-25 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
359    D  2023-12-26 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
360    D  2023-12-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
361    D  2023-12-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
362    D  2023-12-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
363    D  2023-12-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
364    D  2023-12-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN

In [76]:
days_df

    TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
0      D  2023-01-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
1      D  2023-01-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
2      D  2023-01-03 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
3      D  2023-01-04 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
4      D  2023-01-05 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
..   ...                  ...    ...    ...  ...  ...  ...  ...    ...
360    D  2023-12-27 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
361    D  2023-12-28 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
362    D  2023-12-29 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
363    D  2023-12-30 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
364    D  2023-12-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN

[365 rows x 9 columns]

In [12]:
dti = pd.date_range("2023-01-01", periods=365, freq="D")

In [16]:
dti[0].day_name()

'Sunday'

In [20]:
dti[0].date()

datetime.date(2023, 1, 1)

In [24]:
pd.Series("D", index=pd.date_range("2023", freq="D", periods=365))

2023-01-01    D
2023-01-02    D
2023-01-03    D
2023-01-04    D
2023-01-05    D
             ..
2023-12-27    D
2023-12-28    D
2023-12-29    D
2023-12-30    D
2023-12-31    D
Freq: D, Length: 365, dtype: object

In [33]:
last_week_date[4] == pd.to_datetime('29/01/2023', format="%d/%m/%Y")

True

In [50]:
for d in range(len(days_of_year)):
    days.loc[d, 'TYPE'] = 'D'
    days.loc[d, 'DATE'] = days_of_year[d]
    days.loc[d, 'EVENT'] = "День "

In [52]:
for w in range(len(weeks_n)):
    days.loc[w, 'TYPE'] = 'W'
    days.loc[w, 'DATE'] = "Неделя " + str(weeks_n[w])
    days.loc[w, 'EVENT'] = "Неделя "

In [49]:
days = pd.DataFrame(columns = ['TYPE', 'DATE', 'EVENT', 'POINTS', 'M', 'HY', 'Y', 'S', 'SPHERE' ])

In [46]:
days

Empty DataFrame
Columns: [TYPE, DATE, EVENT, POINTS, M, HY, Y, S, SPHERE]
Index: []

In [53]:
days

    TYPE                 DATE    EVENT POINTS    M   HY    Y    S SPHERE
0      W          Неделя 1932  Неделя     NaN  NaN  NaN  NaN  NaN    NaN
1      W          Неделя 1933  Неделя     NaN  NaN  NaN  NaN  NaN    NaN
2      W          Неделя 1934  Неделя     NaN  NaN  NaN  NaN  NaN    NaN
3      W          Неделя 1935  Неделя     NaN  NaN  NaN  NaN  NaN    NaN
4      W          Неделя 1936  Неделя     NaN  NaN  NaN  NaN  NaN    NaN
..   ...                  ...      ...    ...  ...  ...  ...  ...    ...
360    D  2023-12-27 00:00:00    День     NaN  NaN  NaN  NaN  NaN    NaN
361    D  2023-12-28 00:00:00    День     NaN  NaN  NaN  NaN  NaN    NaN
362    D  2023-12-29 00:00:00    День     NaN  NaN  NaN  NaN  NaN    NaN
363    D  2023-12-30 00:00:00    День     NaN  NaN  NaN  NaN  NaN    NaN
364    D  2023-12-31 00:00:00    День     NaN  NaN  NaN  NaN  NaN    NaN

[365 rows x 9 columns]

In [73]:
last_week_date

0    2023-01-01
1    2023-01-08
2    2023-01-15
3    2023-01-22
4    2023-01-29
5    2023-02-05
6    2023-02-12
7    2023-02-19
8    2023-02-26
9    2023-03-05
10   2023-03-12
11   2023-03-19
12   2023-03-26
13   2023-04-02
14   2023-04-09
15   2023-04-16
16   2023-04-23
17   2023-04-30
18   2023-05-07
19   2023-05-14
20   2023-05-21
21   2023-05-28
22   2023-06-04
23   2023-06-11
24   2023-06-18
25   2023-06-25
26   2023-07-02
27   2023-07-09
28   2023-07-16
29   2023-07-23
30   2023-07-30
31   2023-08-06
32   2023-08-13
33   2023-08-20
34   2023-08-27
35   2023-09-03
36   2023-09-10
37   2023-09-17
38   2023-09-24
39   2023-10-01
40   2023-10-08
41   2023-10-15
42   2023-10-22
43   2023-10-29
44   2023-11-05
45   2023-11-12
46   2023-11-19
47   2023-11-26
48   2023-12-03
49   2023-12-10
50   2023-12-17
51   2023-12-24
52   2023-12-31
dtype: datetime64[ns]

In [108]:
last_month_date = pd.Series(pd.date_range("1/1/2023", freq="M", periods=12))

In [109]:
last_month_date

0    2023-01-31
1    2023-02-28
2    2023-03-31
3    2023-04-30
4    2023-05-31
5    2023-06-30
6    2023-07-31
7    2023-08-31
8    2023-09-30
9    2023-10-31
10   2023-11-30
11   2023-12-31
dtype: datetime64[ns]

In [111]:
last_season_date

0    2023-02-28
1    2023-05-31
2    2023-08-31
3    2023-11-30
dtype: object

In [ ]:
full_days = pd.concat([days_df, weeks_df, months_df, seasons_df, half_year_df, year_df], ignore_index=True)

writer = pd.ExcelWriter('/Users/aleksejgukov/Desktop/test.xlsx', engine='xlsxwriter')
full_days.to_excel(writer, sheet_name = '1')
writer.save()

In [126]:
range(365*3, 3)

range(1095, 3)

In [131]:
for i in range(0,len(days_n) * 3, 3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399
402
405
408
411
414
417
420
423
426
429
432
435
438
441
444
447
450
453
456
459
462
465
468
471
474
477
480
483
486
489
492
495
498
501
504
507
510
513
516
519
522
525
528
531
534
537
540
543
546
549
552
555
558
561
564
567
570
573
576
579
582
585
588
591
594
597
600
603
606
609
612
615
618
621
624
627
630
633
636
639
642
645
648
651
654
657
660
663
666
669
672
675
678
681
684
687
690
693
696
699
702
705
708
711
714
717
720
723
726
729
732
735
738
741
744
747
750
753
756
759
762
765
768
771
774
777
780
783
786
789
792
795
798
801
804
807
810
813
816
819
822
825
828
831
834
837
840
843
846
849
852
855
858
861
864
867
870
873
876
879
882
885
888
891
894
897
900
903
906
909
912
915
918
921
924
927
930
933
936
939
942
945
948
951
954
957
960
963
966
969
972
975
978
981
984
987
990
993
996
999
1002
1005
1008
1011
1014
1017
1020
1023
1026
1029
1032
1035
1038
1041
1044
1047
1050
1053
1056
1059
1062
1065
1068
1071
1074
1077
1080
1083
1086
1089
1092

In [139]:
days_df

     TYPE                 DATE  EVENT POINTS    M   HY    Y    S SPHERE
0       D  2023-01-01 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
1       E  2023-01-01 00:00:00           NaN  NaN  NaN  NaN  NaN    NaN
2       N  2023-01-01 00:00:00  Ночь     NaN  NaN  NaN  NaN  NaN    NaN
3       D  2023-01-02 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
4       E  2023-01-02 00:00:00           NaN  NaN  NaN  NaN  NaN    NaN
...   ...                  ...    ...    ...  ...  ...  ...  ...    ...
1090    E  2023-12-30 00:00:00           NaN  NaN  NaN  NaN  NaN    NaN
1091    N  2023-12-30 00:00:00  Ночь     NaN  NaN  NaN  NaN  NaN    NaN
1092    D  2023-12-31 00:00:00  День     NaN  NaN  NaN  NaN  NaN    NaN
1093    E  2023-12-31 00:00:00           NaN  NaN  NaN  NaN  NaN    NaN
1094    N  2023-12-31 00:00:00  Ночь     NaN  NaN  NaN  NaN  NaN    NaN

[1097 rows x 9 columns]