In [14]:
import os
import pandas as pd

In [15]:
folder_path = 'data_files'
file_list = [file for file in os.listdir(folder_path) if file.startswith('XLS') and file.endswith('.xls')]

data = pd.DataFrame()

for file in file_list:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path)
    data = data.append(df, ignore_index=True)

/var/folders/k0/5mz4jdsj64n5f2jltclyq9zh0000gn/T/ipykernel_23764/1982993532.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(df, ignore_index=True)

In [16]:
# Convert the 'date' column to datetime format
df['Transactiedatum'] = pd.to_datetime(df['Transactiedatum'], format='%Y%m%d')

# Filter the DataFrame to keep only the rows for the desired month
desired_month = '2024-12'  # Specify the desired month in 'YYYY-MM' format
filtered_data = df[df['Transactiedatum'].dt.strftime('%Y-%m') == desired_month]

In [17]:
filtered_data = filtered_data.loc[:, ['Transactiedatum','Transactiebedrag', 'Omschrijving']]
filtered_data['Omschrijving'] = filtered_data['Omschrijving'].str.split('Apple Pay                   ').str[-1]
filtered_data['Omschrijving'] = filtered_data['Omschrijving'].str.strip()

In [18]:
filtered_data['Transactiebedrag'].sum()

5216.74

In [19]:
filtered_data = filtered_data.rename(columns={'Transactiebedrag': 'EUR', 'Transactiedatum': 'DATE' , 'Omschrijving':'Comments' })
filtered_data['Types'] = 'Expenses'
filtered_data['Groups'] = 'D_Monthly'
filtered_data['Kindes'] = ''
#filtered_data['Comments'] = ''

In [20]:
A_Food = ['Servex B.V. Statio','PANDORA PRODUCTIES','MINISO6600LEIDSCHE','Global Supermarkt','Vermolens snackcar','Groszek','SPAR','CARREFOUR ANTWER','Klein Rusland','McGroteMarkt','Chocolate Company','Ann.Almond','COFFEE STAR IN STO','AH to Go','SYSTEMCOM','De Tulp Supermarkt','Agnes Harms','PLUS Meeuwsen','Albert Heijn','OLIEBOLLEN','NSAutomaat ','BOONS MARKT','Heilige Boontjes,','Albert Heijn Konincks', 'HMS Host International,','AH to go', 'Medine Supermarkt','DIRK', 'VendingWork', 'ALBERT', 'JumboVathorst', 'Jumbo']
Education = ['Spotify', 'Storytel','INT CARD SERVICES', 'LinkedIn']
B_Cafe = ['Van Eeken','IKEA Heerlen','Kermisplaza B.V','McVlamingstraat','Pathe Spuimark','Al Hayat Restaurant','Dutch Language','El Mamma Booga','Brasserie Mondriaa','Ristorante Giuliano','Noodlebar Benelux','thuisfactuur','Simonis B.V.','De Waterreus','Bistro LOFT','Momiji Ramen','SP MOYCHAY','CASEY-S IRISH ','Mangos Beachbar Za,','MCDONALDS','Loyaltek','Escubelle Beachhouse','relexa hotel','Eindhoven McAirport','Espressobar','30ml Amersfoor','STRANDWEG','Lunch- en Eetcafe','Lunchbar Sammy','Seafood Bar Utrecht','Boonoonoonoos','STACH','Nonno Guido','The Cloud Club','HOTEL COURT GARDEN','Cafe Pomegranate','Amal coffee','Birdflower','SunSun Coffee','Amersfoort,PAS181','Plein Horeca','De Belg I Horeca','McD','ALOHA SURF','BURGER N SHAKE','BEESECHURGERS','Loetje','Sonya Company','The Little Apple','ARAN IRISH PUB','LA VACA','Stayokay Amsterdam Oos','Shake','NORMAL UTRECHT','HMSHost Amsterdam Bijl','TJKalisvaart','Marinello','MAATSCHAPPIJ','Raststaette Ohligser','Brioche Doree Theatine','Rastanlage Lonetal','McDonalds','Ohligser Heide West','Cafe De Herberg','WINKEL VAN SINK','Tijm Utrecht','Blin Queen','Amazing Oriental','BEA','Bahnhofkiosk','Coop','HotCh','Selecta Merchant','Piero','Kiosk','Kipland','Starbucks','Orderli ','Kloek', 'Joli Cafe','PIZZA Beppe','Di Mare Binz','AEROPORT BARCELONA','Wachtlokaal','Piazza Viva','Ci Vediamo IJsmakerij','Roberto Gelato','Sodexo', 'Foodticket','Utrechter', 'Luebeck', 'Wismar', 'Last Vegas Utrecht', 'Putgarten', 'Thuisbezorgd', 'KFC', 'Beer Capital', 'CHEZ LEON', 'Madonna', 'Becks','TotalEnergies', 'Dunkin', 'STARBUCKS']
Health = ['Stg Entrada Events','Jeanabelle hairsty','IBACH SIPAN STYLE','Swapfiets','TREATWELL']
D_Home = ['HEMA EV0350','BLOKKER0577DENHAAG','DUNEA DUIN','Tibber','EtosSavornin','Gamma Loosduinen','Kruidvat','ENECO','Essent', 'Vitens', 'J.M. Siemerink-Riep', 'Stichting de Heeren van']
H_Other = ['HMSHost Den Haag Centr','NS Kluis Den Haag','Den Haag CS','Sanifair WC','Action','H_Other','Amsterdam Oost','Vermaat ','OMV 7135','Rotterdam 4208','Basic Package', 'Loonzorg', 'HMSHost Utrecht Centra']
Event = ['Partywinkel','Shop 4721','Shop 9','BoulesBitesBar', 'Tikkie']
Vacation = ['Hotel Olympia Brugge','Social Hub Den','First City Hotel','FirstCityHotelDenH','Hotel Hague Center','MERCURE DEN HAAG CENTR','Vueling', 'Booking','KLM']
F_Presents = ['Alexanderh Sav Lohman','ONLY Spuimarkt','MARIIA TURKINA','Bloemsierkunst','Flying Tiger','NL0510 - COS','Alexanderhoeve Emi','Van Beest Vathorst','Bokstijn Feestartike','We Love Holland','Gall & Gall', 'Cadeautje','Daily Flowers']
Salary = ['YOKOGAWA']
D_Online = ['ODIDO','vodafone']
C_Car = ['Q-Park Operations Holding BV via Mollie','Q-Park','Q-Park','ParkBee']
C_Transport = ['PayPal Europe','www.ovpay.nl','NS-Amersfoort','NS GROEP']
C_Fuel = ['ESSO Zoetermeer','Shell Station De Kroon','Esso Leusden Doornse','SHELL DE HACKELAAR','Shell Vathorst']
Clothes = ['HEMA EV','Hema','Decathlon','Ooms Sport','WE Fashion','C&A','van os tassenkoffers','Chasin','Kathmandu Utrecht','Perry Sport']
Tech = ['MM Den Haag','Media Markt Den Haag','bol.com','Thephonelab','Coolblue']
G_Recreation = ['Carnegie Stichting Vredespaleis','Sommel via ING Zakelijk Betaalverzoek','Nigmatzyanova.Hr R Karpov','Musea Brugge','Royal Services International','MMI LTD','Pathe de Munt','ING Bank NV Betaalverzoek','Bunq','AndreevBratuhin', 'PATHE THEATER', 'PATHE THEATERS', 'Euromast Horeca']

In [21]:
full_list_for_comments = Tech + G_Recreation + A_Food + Education + B_Cafe + Health + D_Home + H_Other + Event + Vacation + F_Presents + Salary + C_Transport + Clothes

In [22]:
# Update the 'description' column based on the conditions
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(A_Food)), 'Kindes'] = 'A_Food'

filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(Tech)), ['Groups', 'Kindes']] = ['B_Materials','Tech']
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(Education)), ['Groups', 'Kindes']] = ['A_Prior', 'Education']
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(B_Cafe)), 'Kindes'] = 'B_Cafe'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(Health)), ['Groups', 'Kindes']] = ['A_Prior', 'Health']
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(D_Home)), 'Kindes'] = 'D_Home'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(D_Online)), 'Kindes'] = 'D_Online'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(H_Other)), 'Kindes'] = 'H_Other'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(Event)), ['Groups', 'Kindes']] = ['A_Prior', 'Event']
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(Vacation)), ['Groups', 'Kindes']] = ['A_Prior', 'Vacation']
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(F_Presents)), 'Kindes'] = 'F_Presents'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(C_Transport)), 'Kindes'] = 'C_Transport'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(C_Fuel)), 'Kindes'] = 'C_Fuel'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(C_Car)), 'Kindes'] = 'C_Car'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(G_Recreation)), 'Kindes'] = 'G_Recreation'
filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(Clothes)), ['Groups', 'Kindes']] = ['B_Materials','Clothes']

filtered_data.loc[filtered_data['Comments'].str.contains('|'.join(Salary)), ['Types', 'Groups', 'Kindes']] = ['Revenue','Income','Salary']

In [23]:
for value in full_list_for_comments:
    filtered_data.loc[filtered_data['Comments'].str.contains(value), 'Additional'] = value

filtered_data['Additional'] = filtered_data['Additional'].fillna(filtered_data['Comments'] )
filtered_data['Comments'] = filtered_data['Additional']
filtered_data.drop('Additional', axis=1, inplace=True)

filtered_data = filtered_data[['DATE', 'EUR', 'Types', 'Groups', 'Kindes' , 'Comments']]

In [24]:
xx = filtered_data[filtered_data['Kindes']=='']

In [25]:
xx

Empty DataFrame
Columns: [DATE, EUR, Types, Groups, Kindes, Comments]
Index: []

In [26]:
writer = pd.ExcelWriter('data_files/filtered_data_14.xlsx')
filtered_data.to_excel(writer, sheet_name = 'filtered_data')
writer.close()